@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Noto+Sans+JP:400,900|Quicksand:400,700&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 1.4px;
  color: #3b3d40;
  font-size: 1.6rem;
}

.clearfix {
  min-height: 1px;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

* html .clearfix {
  height: 1px;
}

a {
  text-decoration: none;
  color: #3b3d40;
}

img {
  width: 100%;
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

@media all and (min-width: 440px) {
  .sp {
    display: none;
  }
}

@media all and (min-width: 992px) {
  body {
    font-size: 1.8rem;
  }
}

/* iphone submit css reset */
input[type="submit"],
input[type="button"] {
  border-radius: 30px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

.screen-reader-response,
.wpcf7-not-valid-tip {
  display: none;
}

.wpcf7-validation-errors {
  text-align: center;
  color: #f00;
  font-size: 1.4rem;
  margin-top: 16px;
}

.wpcf7-mail-sent-ok {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 16px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 96%;
  height: 2em;
  margin-top: 4px;
}

textarea {
  width: 96%;
  margin-top: 4px;
}

.wpcf7-list-item {
  margin-right: 20px;
  cursor: pointer;
}

.wpcf7-list-item:last-child {
  margin-right: 0;
}

.wpcf7-select {
  margin-right: 12px;
}

.wpcf7-submit {
  width: 160px;
  background: #f00;
  color: #fff;
  padding: 12px 0;
  margin: 24px auto 0;
  font-size: 1.8rem;
  letter-spacing: 2.5px;
}

.wpcf7-submit:hover {
  background: #3b3d40;
  color: #f3716d;
}

@media all and (max-width: 767px) {
  .wpcf7-list-item {
    display: block;
    margin: 6px 0 0 10px;
  }
}

@media all and (min-width: 768px) {
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    margin-top: 0;
  }
  textarea {
    width: 100%;
    margin-top: 0;
  }
}

@media all and (max-width: 991px) {
  .ggmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .ggmap iframe,
  .ggmap object,
  .ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.l-header {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 15px #777;
}

.l-header--conts__left {
  margin-right: auto;
}

.l-header--navi {
  display: flex;
  flex-wrap: wrap;
}

.l-header--navi__lang--item {
  margin: 0 6px 0 3px;
}

.l-header--active {
  color: #f3716d;
}

@media all and (max-width: 767px) {
  .l-header {
    padding: 10px 1%;
    z-index: 2;
  }
  .l-header--conts__left {
    width: 110px;
  }
  .l-header--logo {
    width: 100%;
  }
  .l-header--conts__right {
    width: 170px;
  }
  .l-header--navi__lang {
    margin-top: 16px;
  }
  .l-header--navi__global,
  .l-header--navi__M {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .l-header {
    padding: 10px 1% 0;
    z-index: 100;
  }
  .jp .l-header {
    font-size: 1.6rem;
  }
  .l-header--conts {
    display: flex;
    flex-wrap: wrap;
  }
  .l-header--logo {
    width: 140px;
  }
  .l-header--logo:hover {
    opacity: .7;
  }
  .l-header--navi__global {
    margin: 15px 0 27px 40px;
  }
  .l-header--navi__global--item {
    border-bottom: 3px solid #f00;
    padding: 0 4px 4px;
    margin: 14px 10px 0;
  }
  .l-header--navi__global--item:hover {
    color: #f00;
  }
  .l-header--conts__right {
    margin-top: 15px;
  }
  .l-header--btn {
    margin: 0 5px;
  }
  .jp .l-header--btn {
    font-size: 1.4rem;
  }
  .l-header--navi__lang {
    margin: 12px 0 0 10px;
  }
  .l-header--navi__lang--item a:hover {
    color: #f3716d;
  }
}

@media all and (min-width: 768px) and (max-width: 940px) {
  .l-header--navi__M {
    display: block;
    margin-top: -25px;
  }
  .l-header--navi__global {
    margin: 15px 0 27px 12px;
  }
  .l-header--btn {
    margin: 5px 0;
  }
}

@media all and (min-width: 992px) {
  .l-header {
    padding: 10px 1%;
    min-width: 1075px;
  }
  .l-header--logo {
    width: 180px;
  }
  .l-header--navi__global {
    margin: 24px 0 27px 40px;
  }
  .l-header--navi__global--item {
    border-bottom: 4px solid #f00;
    padding: 0 4px 10px;
    margin: 14px 20px 0;
  }
  .l-header--conts__right {
    margin-top: 26px;
  }
}

.l-footer {
  color: #fff;
}

.l-footer__profile {
  background: #3b3d40;
  padding: 24px 0;
}

.l-footer__profile--details {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin-top: 12px;
}

.l-footer__profile--icons {
  width: 180px;
  display: flex;
  flex-wrap: wrap;
}

.l-footer__profile--icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.l-footer__profile--icon:nth-child(2) {
  margin: 0 auto;
}

.l-footer__profile--whatsapp {
  background: #16b882;
  font-size: 3.3rem;
}

.l-footer__profile--facebook {
  background: #2196f3;
  font-size: 3rem;
}

.l-footer__profile--mail {
  background: #ef5220;
  font-size: 2.8rem;
}

.l-footer__copyright {
  background: #231f20;
  padding: 12px 0;
}

.l-footer__copyright--wrap {
  font-size: 1.4rem;
}

.l-footer__copyright--terms {
  display: flex;
  flex-wrap: wrap;
}

.l-footer__copyright--link {
  margin: 0 8px;
  color: #fff;
}

@media all and (max-width: 767px) {
  .l-footer__profile--ttl {
    margin-right: 16px;
    font-weight: bold;
  }
  .l-footer__profile--icons {
    margin: 24px auto 0;
  }
  .l-footer__copyright--terms {
    margin-top: 12px;
  }
}

@media all and (min-width: 768px) {
  .l-footer__profile--wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .l-footer__profile--conts {
    width: 80%;
  }
  .l-footer__profile--ttl {
    width: 80px;
  }
  .l-footer__profile--icons {
    width: 18%;
    margin-left: 2%;
  }
  .l-footer__profile--icon:nth-child(2) {
    margin: 0 4px;
  }
  .l-footer__profile--whatsapp:hover {
    background: #fff;
    color: #16b882;
  }
  .l-footer__profile--facebook:hover {
    background: #fff;
    color: #2196f3;
  }
  .l-footer__profile--mail:hover {
    background: #fff;
    color: #ef5220;
  }
  .l-footer__copyright--name {
    float: left;
  }
  .l-footer__copyright--terms {
    float: right;
  }
  .l-footer__copyright--link:hover {
    color: #f3716d;
  }
}

@media all and (min-width: 992px) {
  .l-footer__profile {
    padding: 32px 0 24px;
  }
  .l-footer__profile--conts {
    width: 700px;
  }
  .l-footer__profile--icons {
    width: 182px;
    margin-left: 78px;
  }
  .l-footer__profile--icon:nth-child(2) {
    margin: 0 16px;
  }
}

@media all and (max-width: 767px) {
  .l-wrap {
    padding-top: 52px;
  }
}

@media all and (min-width: 768px) {
  .l-wrap {
    padding-top: 70px;
  }
}

@media all and (min-width: 768px) and (max-width: 915px) {
  .l-wrap {
    padding-top: 80px;
  }
}

@media all and (min-width: 992px) {
  .l-wrap {
    padding-top: 95px;
  }
}

@media all and (max-width: 767px) {
  .l-container {
    width: 94%;
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) {
  .l-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media all and (min-width: 992px) {
  .l-container {
    width: 960px;
    margin: 0 auto;
  }
}

.pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.pagination-box {
  display: inline-block;
}

.pagination span, .pagination a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  width: auto;
  color: #3b3d40;
  /* 通常の文字色 */
  background: #FFF;
  /* 通常の背景色 */
}

.pagination a:hover {
  color: #FFF;
  /* マウスホバー時の文字色 */
  background: #f3716d;
  /* マウスホバー時の背景色 */
}

.pagination .current {
  padding: 10px 15px 10px 15px;
  color: #fff;
  /* 現在のページの文字色 */
  background: #f3716d;
  /* 現在のページの背景色 */
}

ul.page-numbers {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 30px;
  padding: 10px 40px 8px 40px;
}

ul.page-numbers a.page-numbers {
  padding: 2px 10px 4px 10px;
}

ul.page-numbers a.page-numbers:hover {
  background: #f3716d;
  color: #fff;
}

ul.page-numbers .current {
  padding: 2px 10px 4px 10px;
  background: #f3716d;
  color: #fff;
}

ul.page-numbers .next,
ul.page-numbers .prev {
  color: #f3716d;
}

ul.page-numbers .next:hover,
ul.page-numbers .prev:hover {
  background: #fff !important;
  color: #f3716d !important;
}

@media all and (max-width: 767px) {
  .wrapper {
    height: 100%;
    position: relative;
  }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(80, 80, 80, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
  }
  .overlay.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  main {
    height: 100%;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main.open {
    transform: translateX(-100%);
  }
  .menu-trigger {
    display: inline-block;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 30px;
    z-index: 100;
  }
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #3b3d40;
    transition: all .5s;
  }
  .menu-trigger.active span {
    background-color: #3b3d40;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 12px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  nav {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: #fff7f2;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(100%);
    transition: all .5s;
    font-size: 2rem;
  }
  nav.open {
    transform: translateZ(0);
  }
  nav ul {
    margin-bottom: 50px;
  }
  nav li {
    color: #3b3d40;
    text-align: center;
    padding: 10px 4px 4px;
    border-bottom: 3px solid #f00;
    margin: 14px 10px 4px;
    display: inline-block;
  }
}

@media all and (min-width: 768px) {
  nav {
    display: none;
  }
}

.c-btn {
  border-radius: 30px;
  padding: 20px;
}

.c-btn__pink {
  background: #f3716d;
  color: #fff;
  text-align: center;
}

.c-btn__sp {
  width: 60%;
  margin: 24px auto;
}

@media all and (min-width: 768px) {
  .c-btn {
    border-radius: 15px;
    padding: 12px 20px;
  }
  .c-btn__pink {
    background: #f3716d;
    color: #fff;
    text-align: center;
  }
  .c-btn__pink:hover {
    background: #3b3d40;
    color: #f3716d;
  }
}

.c-center {
  text-align: center;
}

.c-conts--ttl {
  font-size: 3.8rem;
  font-weight: bold;
  font-family: "Barlow Condensed", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 38px;
}

.c-conts--ttl:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  /*線の上下位置*/
  display: inline-block;
  width: 80px;
  /*線の長さ*/
  height: 5px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #f00;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.c-conts__pink {
  background: #fff7f2;
}

.c-conts__list {
  padding: 12px;
  background: #fff;
}

.c-conts--more {
  font-size: 1.8rem;
  text-align: right;
  margin: 16px 24px 0 0;
}

.c-conts--more a {
  color: #f00;
  border-bottom: 2px solid #f00;
  padding-bottom: 6px;
}

.jp .c-conts--more {
  font-size: 1.6rem;
}

.c-conts__page {
  background-size: cover;
  background-position: 50% 50%;
  padding: 100px 0 60px;
}

.c-conts__page--ttl {
  text-align: center;
  font-size: 3.8rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 10px #3b3d40;
}

@media all and (max-width: 767px) {
  .c-conts {
    padding: 40px 0;
  }
  .c-conts__list {
    border-bottom: 1px solid #d1d3d4;
  }
  .jp .c-conts--ttl {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  .c-conts {
    padding: 70px 0;
  }
  .c-conts--ttl {
    margin-bottom: 50px;
  }
  .c-conts__list {
    padding: 40px 48px;
  }
  .c-conts--more {
    font-size: 2rem;
    margin: 16px 32px 0 0;
  }
  .c-conts--more a:hover {
    color: #f3716d;
    border-bottom: 2px solid #f3716d;
  }
  .c-conts__page {
    padding: 140px 0 60px;
  }
}

@media all and (min-width: 992px) {
  .c-conts {
    padding: 120px 0;
  }
  .c-conts--more {
    font-size: 2.6rem;
    margin: 32px 60px 0 0;
  }
  .c-conts--more a {
    border-bottom: 3px solid #f00;
  }
  .c-conts--more a:hover {
    border-bottom: 3px solid #f3716d;
  }
}

.c-article {
  border-bottom: 5px solid #d1d3d4;
}

.c-article--catch {
  width: 70%;
}

.c-article--catch img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.c-article--ttl {
  font-size: 2.6rem;
  color: #f3716d;
}

.c-article--date {
  color: #508bbd;
  margin: 8px 0;
}

@media all and (max-width: 767px) {
  .c-article--catch {
    margin: 0 auto;
  }
  .c-article--catch img {
    display: block;
  }
}

@media all and (min-width: 768px) {
  .c-article {
    display: flex;
    flex-wrap: wrap;
  }
  .c-article:hover {
    background: #fff7f2;
  }
  .c-article--catch {
    width: 26%;
    margin-right: 4%;
  }
  .c-article--details {
    width: 70%;
  }
}

@media all and (min-width: 992px) {
  .c-article--catch {
    width: 220px;
    height: 220px;
    margin-right: 44px;
  }
  .c-article--details {
    width: 600px;
  }
  .c-article--ttl {
    margin-top: 12px;
  }
  .c-article--date {
    margin: 20px 0;
  }
}

.c-contact {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 4px 4px 4px #d1d3d4, -4px 4px 4px #d1d3d4;
  padding: 20px 2%;
}

.c-contact a {
  text-decoration: underline;
}

.c-contact-must {
  color: #f00;
}

.c-contact--cont {
  margin-bottom: 20px;
}

.c-contact--birth {
  display: flex;
  flex-wrap: wrap;
}

.c-contact--caution {
  font-size: 1.4rem;
  color: #f00;
  margin-top: 8px;
}

@media all and (min-width: 768px) {
  .c-contact {
    width: 80%;
    margin: 0 auto;
    padding: 40px 5%;
  }
  .c-contact--cont {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .c-contact--ttl {
    width: 28%;
  }
  .c-contact--input {
    width: 72%;
  }
  .c-contact--caution {
    font-size: 1.4rem;
    color: #f00;
    margin: 8px 0 0 28%;
  }
}

@media all and (min-width: 992px) {
  .c-contact {
    width: 700px;
    margin: 0 auto;
    padding: 40px 130px;
  }
  .c-contact--ttl {
    width: 220px;
  }
  .c-contact--input {
    width: 480px;
  }
  .c-contact--caution {
    font-size: 1.4rem;
    color: #f00;
    margin: 8px 0 0 220px;
  }
}

.c-job--ttl {
  font-size: 2.6rem;
  color: #f3716d;
}

.c-job--details {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 12px;
}

.c-job--fee {
  font-weight: bold;
  margin: 15px 20px 0 0;
}

.c-job--location {
  font-weight: bold;
  margin-top: 15px;
}

.c-job--location::before {
  font-family: "font Awesome 5 Free";
  content: '\f3c5';
  margin-right: 8px;
}

.c-job--desc {
  height: 118px;
  overflow: hidden;
}

@media all and (min-width: 768px) {
  .c-job:hover {
    background: #f6f6f6;
  }
  .c-job--fee {
    margin-right: 40px;
  }
  .c-job--desc {
    font-size: 1.4rem;
    height: inherit;
    overflow: inherit;
  }
}

@media all and (min-width: 992px) {
  .c-job--details {
    margin: 9px 0 24px;
  }
  .c-job--desc {
    font-size: 1.6rem;
  }
}

.p-top-catch {
  position: relative;
}

.p-top-catch--img {
  display: none;
}

.p-top-catch__copy,
.p-top-catch--copy__sp {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Barlow Condensed", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.p-top-catch__text {
  text-align: center;
  font-weight: bold;
  text-shadow: -4px 4px 5px #090909;
}

.p-top-why--conts {
  margin: 60px auto 0;
  text-align: center;
}

.p-top-why--icon {
  width: 100px;
  margin: 0 auto;
}

.p-top-why--ttl {
  font-weight: bold;
  font-size: 2.6rem;
}

.p-top-desc {
  padding: 32px 0 40px;
}

.p-top-desc--ttl {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.p-top-desc--text {
  font-size: 1.1rem;
  margin-bottom: 24px;
}

.p-top-desc--text a {
  color: #f00;
}

.p-top-desc--text__bottom {
  margin-bottom: 8px;
}

@media all and (max-width: 767px) {
  .p-top-catch__copy {
    display: none;
  }
  .p-top-catch--copy__sp {
    font-size: 7vw;
    padding-bottom: 48px;
  }
  .jp .p-top-catch__copy {
    display: block;
    padding-bottom: 26px;
  }
  .jp .p-top-catch__copy h3 {
    font-size: 8vw;
  }
  .jp .p-top-catch__copy h2 {
    font-size: 7vw;
  }
  .p-top-catch__text {
    line-height: 8vw;
  }
  .jp .p-top-catch__text {
    line-height: 10vw;
  }
  .p-top-catch__needs {
    margin: 5vw 0;
  }
  .p-top-why {
    width: 94%;
    margin: 0 auto;
  }
  .p-top-why--conts {
    width: 90%;
  }
  .p-top-why--ttl {
    margin: 12px 0;
  }
  .jp .p-top-why--ttl {
    font-size: 2.2rem;
  }
}

@media all and (min-width: 768px) {
  .p-top-catch--img {
    display: block;
  }
  .p-top-catch--img__sp,
  .p-top-catch--copy__sp {
    display: none;
  }
  .p-top-catch__copy {
    padding-bottom: 80px;
  }
  .p-top-catch__copy h1 {
    font-size: 10vw;
  }
  .p-top-catch__copy h3 {
    font-size: 8vw;
  }
  .p-top-catch__copy h2 {
    font-size: 4.7vw;
  }
  .jp .p-top-catch__copy h3 {
    font-size: 8vw;
  }
  .jp .p-top-catch__copy h2 {
    font-size: 7vw;
  }
  .p-top-catch__text {
    line-height: 7vw;
    margin-bottom: 20px;
  }
  .jp .p-top-catch__text {
    line-height: 8.5vw;
  }
  .p-top-catch__needs {
    margin: 50px 0 30px;
  }
  .jp .p-top-catch__needs {
    margin: 20px 0 30px;
  }
  .p-top-why {
    width: 90%;
    margin: 0 auto;
  }
  .p-top-why--conts {
    width: 60%;
  }
  .p-top-why--ttl {
    margin: 24px 0;
  }
  .p-top-desc {
    padding: 0 0 60px;
  }
}

@media all and (min-width: 992px) {
  .p-top-catch__copy {
    padding-bottom: 120px;
  }
  .p-top-catch__text {
    margin-bottom: 20px;
  }
  .p-top-why {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
  }
  .p-top-why--conts {
    width: calc(91% / 3);
    margin: 60px 1.5% 0;
  }
}

.p-overview-catch {
  background-image: url("../images/overview_catch.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding: 70px 0 50px;
}

.p-overview-catch--copy {
  width: 94%;
  margin: 0 auto;
  text-align: center;
}

.p-overview-profile {
  margin-top: 60px;
  background-size: cover;
}

.p-overview-profile__alvin {
  background-image: url("../images/alvin.jpg");
  background-position: 72% 0;
}

.p-overview-profile__nori {
  background-image: url("../images/nori.jpg");
  background-position: 10% 0;
}

.p-overview-profile__alvin--container {
  width: 80%;
  margin-left: 10%;
}

.p-overview-profile__nori--container {
  width: 80%;
  margin-left: 10%;
}

.p-overview-profile--index {
  display: inline-block;
  font-size: 2.6rem;
  border-bottom: 2px solid #f3716d;
  padding-bottom: 6px;
}

.p-overview-profile--ttl {
  font-size: 2.6rem;
  margin: 20px 0;
}

.p-overview-profile--ttl::before {
  font-family: "font Awesome 5 Free";
  content: "\f10d";
  font-weight: 900;
  color: #f3716d;
  margin: -12px 10px 0 -30px;
  font-size: 20px;
}

.p-overview-profile--ttl::after {
  font-family: "font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  color: #f3716d;
  font-size: 20px;
  margin-left: 10px;
}

.p-overview-profile--msg {
  margin: 20px 0;
}

.jp .p-overview-profile--msg {
  font-size: 1.4rem;
}

.p-overview-profile--name {
  font-family: "Barlow Condensed", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  font-size: 3.8rem;
  margin-bottom: 12px;
}

.p-overview-info {
  width: 94%;
  margin: 0 auto;
}

.p-overview-info--img {
  width: 260px;
}

.p-overview-info--wrap {
  width: 92%;
  margin-left: 4%;
}

.p-overview-info--name {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .p-overview-profile {
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
  }
  .p-overview-info--img {
    margin: 0 auto 12px;
  }
  .p-overview-info--conts li {
    margin-bottom: 12px;
  }
}

@media all and (min-width: 768px) {
  .p-overview-catch {
    padding: 100px 0;
  }
  .p-overview-catch--copy {
    width: 90%;
    margin: 0 auto;
  }
  .p-overview-profile__alvin {
    background-position: 70% 0;
  }
  .p-overview-profile__nori {
    background-position: 20% 0;
  }
  .p-overview-profile__alvin--container {
    width: 60%;
    margin-left: 7%;
  }
  .p-overview-profile__nori--container {
    width: 60%;
    margin-left: 40%;
  }
  .p-overview-profile--ttl {
    margin: 0 0 20px;
  }
  .p-overview-profile--ttl::before {
    margin: -12px 20px 0 -80px;
    font-size: 60px;
  }
  .p-overview-profile--ttl::after {
    margin-left: 20px;
  }
  .p-overview-info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .p-overview-info--img {
    width: 30%;
  }
  .p-overview-info--wrap {
    width: 66%;
    margin-left: 4%;
  }
  .p-overview-info--conts {
    line-height: 30px;
  }
}

@media all and (min-width: 992px) {
  .p-overview-catch {
    padding: 200px 0;
  }
  .p-overview-catch--copy {
    width: 960px;
    margin: 0 auto;
  }
  .p-overview-profile__alvin--container {
    width: 590px;
    margin-left: 0;
  }
  .p-overview-profile__nori--container {
    width: 590px;
    margin-left: 350px;
  }
  .p-overview-info {
    width: 960px;
    margin: 0 auto;
  }
  .p-overview-info--img {
    width: 310px;
  }
  .p-overview-info--wrap {
    width: 610px;
    margin-left: 40px;
  }
  .p-overview-info--conts {
    line-height: 36px;
  }
}

.p-contact-catch {
  padding: 80px 0;
}

.p-contact-catch--ttl {
  font-weight: bold;
}

.p-contact-catch--ttl__strong {
  font-size: 2.3rem;
  color: #4f859b;
  font-weight: bold;
}

.p-contact-catch--copy {
  margin-top: 20px;
  line-height: 22px;
}

.p-contact-flow {
  width: 88%;
  border-radius: 60px;
  margin: 0 6% 40px;
  height: 120px;
  display: table;
  position: relative;
}

.p-contact-flow__b {
  background: #fff7f2;
}

.p-contact-flow__c {
  background: #e8f5f1;
}

.p-contact-flow--step {
  background: #f00;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  color: #fff;
  text-align: center;
  display: table;
  top: 25px;
}

.p-contact-flow--step p {
  font-size: 1.4rem;
  display: table-cell;
  vertical-align: middle;
}

.p-contact-flow--step p span {
  font-size: 1.8rem;
  font-weight: bold;
}

.p-contact-flow--step__odd {
  left: -24px;
}

.p-contact-flow--text {
  display: table-cell;
  vertical-align: middle;
  padding: 0 56px;
}

.p-contact-flow--text span {
  font-size: 1.4rem;
}

.p-contact-flow--text a {
  color: #f00;
}

.p-contact-flow--img__b1 {
  width: 70px;
  position: absolute;
  top: 20px;
  right: -26px;
}

.p-contact-flow--img__b2 {
  width: 70px;
  position: absolute;
  top: 33px;
}

.p-contact-flow--img__b3 {
  width: 68px;
  position: absolute;
  top: 6px;
  right: -22px;
}

.p-contact-flow--img__b4 {
  width: 68px;
  position: absolute;
  top: 16px;
}

.p-contact-flow--img__b5 {
  width: 80px;
  position: absolute;
  top: 30px;
  right: -35px;
}

.p-contact-flow--img__b6,
.p-contact-flow--img__c6 {
  width: 65px;
  position: absolute;
  top: 12px;
}

.p-contact-flow--img__c1 {
  width: 80px;
  position: absolute;
  top: 14px;
  right: -26px;
}

.p-contact-flow--img__c2 {
  width: 75px;
  position: absolute;
  top: 22px;
}

.p-contact-flow--img__c3 {
  width: 28px;
  position: absolute;
  top: 8px;
  right: 5px;
}

.p-contact-flow--img__c4 {
  width: 80px;
  position: absolute;
  top: 14px;
}

.p-contact-flow--img__c5 {
  width: 74px;
  position: absolute;
  top: 7px;
  right: -23px;
}

.p-contact-special {
  padding: 20px 0;
  position: relative;
}

.p-contact-special--ttlWrap {
  width: 100%;
  background: #f00;
  display: table;
  color: #fff;
  height: 90px;
}

.p-contact-special--ttl {
  display: table-cell;
  vertical-align: middle;
}

.p-contact-special--ttl p {
  margin-left: auto;
  font-size: 2.6rem;
  font-weight: bold;
}

.p-contact-special--copyWrap {
  width: 100%;
  background: #fff7f2;
  display: table;
  height: 130px;
}

.p-contact-special--copy {
  display: table-cell;
  vertical-align: middle;
}

.p-contact-special--copy p {
  width: 94%;
  margin: 0 auto;
}

.p-contact-special--copy__notes {
  font-size: 1.2rem;
  color: #f00;
  padding-top: 8px;
}

.p-contact-special--img {
  position: absolute;
  width: 90px;
  left: 4%;
  top: 20px;
}

.p-contact-jbaa {
  background-image: url("../images/jbaa.jpg");
  background-size: cover;
  background-position: 0 50%;
}

.p-contact-jbaa--ttl {
  font-size: 3.8rem;
  text-align: center;
  font-weight: bold;
}

.p-contact-jbaa--ttl span {
  color: #f00;
  font-weight: bold;
}

.p-contact-jbaa--img {
  width: 60%;
  margin: -20px auto 0;
}

.p-contact-jbaa--desc {
  width: 94%;
  margin: 0 auto;
  text-align: center;
}

.p-contact-jbaa--desc p {
  margin-top: 30px;
}

.p-contact-jbaa--desc p a {
  color: #f00;
}

@media all and (max-width: 767px) {
  .p-contact-catch {
    text-align: center;
  }
  .p-contact-flow--step__even {
    left: -24px;
  }
  .p-contact-flow--img__b2 {
    right: -26px;
  }
  .p-contact-flow--img__b4 {
    right: -24px;
  }
  .p-contact-flow--img__b6,
  .p-contact-flow--img__c6 {
    right: -15px;
  }
  .p-contact-flow--img__c2 {
    right: -26px;
  }
  .p-contact-flow--img__c4 {
    right: -25px;
  }
  .p-contact-special--ttl p,
  .p-contact-special--copy p {
    text-align: center;
  }
  .p-contact-jbaa--img {
    max-width: 280px;
  }
}

@media all and (min-width: 768px) {
  .p-contact-catch {
    padding: 100px 0;
  }
  .p-contact-catch--ttl {
    font-size: 2.6rem;
  }
  .p-contact-catch--ttl__strong {
    font-size: 3.8rem;
  }
  .p-contact-catch--copy {
    line-height: 26px;
  }
  .p-contact-flow {
    width: 80%;
    margin: 0 50px 40px;
  }
  .p-contact-flow:nth-child(even) {
    margin-left: 14%;
    margin-right: 6%;
  }
  .p-contact-flow--step {
    width: 80px;
    height: 80px;
    top: 20px;
  }
  .p-contact-flow--step p {
    font-size: 1.6rem;
  }
  .p-contact-flow--step p span {
    font-size: 2rem;
  }
  .p-contact-flow--step__even {
    right: -24px;
  }
  .p-contact-flow--text {
    padding: 0 100px;
  }
  .p-contact-flow--img__b1 {
    width: 160px;
    top: -30px;
    right: -20px;
  }
  .p-contact-flow--img__b2 {
    width: 180px;
    top: 0;
    left: -110px;
  }
  .p-contact-flow--img__b3 {
    width: 110px;
    top: -32px;
    right: -30px;
  }
  .p-contact-flow--img__b4 {
    width: 110px;
    top: -10px;
    left: -50px;
  }
  .p-contact-flow--img__b5 {
    width: 130px;
    top: 8px;
    right: -20px;
  }
  .p-contact-flow--img__b6,
  .p-contact-flow--img__c6 {
    width: 90px;
    top: 0;
    left: -30px;
  }
  .p-contact-flow--img__c1 {
    width: 130px;
    top: -13px;
    right: -20px;
  }
  .p-contact-flow--img__c2 {
    width: 150px;
    top: -14px;
    left: -86px;
  }
  .p-contact-flow--img__c3 {
    width: 36px;
    top: -6px;
    right: 20px;
  }
  .p-contact-flow--img__c4 {
    width: 120px;
    top: -15px;
    left: -43px;
  }
  .p-contact-flow--img__c5 {
    width: 114px;
    top: -22px;
    right: -14px;
  }
  .p-contact-special {
    display: flex;
    flex-wrap: wrap;
  }
  .p-contact-special--ttlWrap {
    width: 36%;
    height: 130px;
  }
  .p-contact-special--ttl p {
    width: 66%;
  }
  .p-contact-special--copyWrap {
    width: 64%;
  }
  .p-contact-special--copy p {
    width: 70%;
    margin: 0 2% 0 30%;
  }
  .p-contact-special--img {
    width: 220px;
    left: 26%;
    top: -10px;
  }
  .p-contact-jbaa--img {
    width: 300px;
    margin: -40px auto 0;
  }
  .p-contact-jbaa--desc {
    width: 90%;
    margin: 0 auto;
  }
}

@media all and (min-width: 992px) {
  .p-contact-catch--copy {
    line-height: 30px;
  }
  .p-contact-flow {
    width: 700px;
  }
  .p-contact-flow:nth-child(even) {
    margin-left: 210px;
    margin-right: 0;
  }
  .p-contact-special--ttlWrap {
    width: 40%;
    height: 150px;
  }
  .p-contact-special--ttl p {
    width: 300px;
  }
  .p-contact-special--copyWrap {
    width: 60%;
    height: 150px;
  }
  .p-contact-special--copy p {
    width: 406px;
    margin: 0 auto 0 170px;
  }
  .p-contact-special--img {
    width: 250px;
    left: 30%;
  }
  .p-contact-jbaa--desc {
    width: 800px;
    margin: 0 auto;
  }
}

.p-column-catch {
  background-image: url("../images/column_catch.jpg");
}

.p-column-conts {
  margin: 80px auto;
}

.p-column-single--conts {
  padding: 100px 0 95px;
  width: 94%;
  margin: 0 auto;
}

.p-column-single--catch {
  background: #f6f6f6;
  margin: 12px 0 30px;
}

.p-column-single--catch img {
  display: block;
  margin: auto;
  width: inherit;
  height: inherit;
  max-width: 100%;
  max-height: 400px;
}

.p-column-single--ttl {
  font-size: 2.6rem;
  color: #f3716d;
  margin-bottom: 16px;
  font-weight: bold;
}

.p-column-single--cont {
  line-height: 28px;
  margin-bottom: 32px;
}

.p-column-single--cont p {
  margin-bottom: 8px;
}

.p-column-single--cont h2 {
  font-size: 2.6rem;
  margin: 40px 0 8px;
  line-height: 32px;
}

.p-column-single--cont h3 {
  color: #f3716d;
  font-weight: bold;
  margin: 40px 0 8px;
}

.p-column-single--cont img {
  width: inherit;
  max-width: 100%;
  height: inherit;
}

.p-column-single--cont img.aligncenter {
  display: block;
  margin: 0 auto;
}

.p-column-single--cont a {
  color: #f00;
}

.p-column-single--cont .aligncenter {
  text-align: center;
}

.p-column-single--cont ul {
  list-style: disc;
  padding-left: 40px;
}

.p-column-single--cont ol {
  list-style: decimal;
  padding-left: 40px;
}

.p-column-single__recomend {
  border-top: 4px solid #d1d3d4;
  padding-top: 40px;
}

.p-column-single__recomend--ttl {
  font-size: 2.6rem;
  border-bottom: 3px solid #f00;
  display: inline-block;
  padding-bottom: 4px;
}

.p-column-single__recomend--wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.p-column-single__recomend--conts {
  width: 44%;
  margin: 0 2%;
  font-size: 1.4rem;
  padding: 4px 1% 8px;
}

.p-column-single__recomend--img {
  position: relative;
  width: 100%;
  padding: 100% 0 0;
}

.p-column-single__recomend--img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-column-single__recomend--conts--date {
  margin: 12px 0;
}

@media all and (min-width: 768px) {
  .p-column-catch {
    background-image: url("../images/column_catch.jpg");
  }
  .p-column-conts {
    margin: 80px auto;
  }
  .p-column-single--conts {
    padding: 140px 0 95px;
    width: 90%;
    margin: 0 auto;
  }
  .p-column-single--ttl {
    margin-bottom: 40px;
  }
  .p-column-single__recomend--conts {
    width: 21%;
    margin: 0 1%;
    padding: 4px 1% 8px;
  }
  .p-column-single__recomend--conts:hover {
    background: #fff7f2;
  }
  .p-column-single__recomend--conts:hover img {
    opacity: .7;
  }
}

@media all and (min-width: 992px) {
  .p-column-single--conts {
    padding: 200px 0 95px;
    width: 960px;
    margin: 0 auto;
  }
  .p-column-single--cont {
    line-height: 32px;
  }
  .p-column-single__recomend--conts {
    width: 202px;
    margin: 0 5px;
    padding: 4px 14px 8px;
  }
}

.p-job {
  background: #fff7f2;
}

.p-job-catch {
  background-image: url("../images/job_catch.jpg");
}

.p-job-wrap {
  width: 94%;
  margin: 0 auto;
  padding: 30px 0;
}

.p-job-sidebar__sp {
  display: none;
}

.p-job-sidebar--cat {
  background: #fff;
  padding: 20px 0;
  box-shadow: -2px 2px 6px #d1d3d4;
}

.p-job-sidebar--ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.p-job-sidebar--list {
  border: 1px solid #d1d3d4;
  background: #f6f6f6;
  text-align: center;
}

.p-job-sidebar--list li {
  padding: 12px 0;
  border-bottom: 1px solid #d1d3d4;
}

.p-job-sidebar--list li.current-cat {
  background: #fff;
}

.p-job-sidebar--recommend {
  margin-top: 40px;
  background: #fff;
  padding: 20px 0;
  box-shadow: -2px 2px 6px #d1d3d4;
}

.p-job-sidebar--recommend--conts {
  border: 1px solid #d1d3d4;
  padding: 20px 12px;
  font-size: 1.4rem;
  text-align: center;
}

.p-job-sidebar--recommend--ttl {
  font-size: 1.8rem;
}

.p-job-sidebar--recommend--salary {
  margin: 12px 0 8px;
}

.p-job-sidebar--recommend--location::before {
  font-family: "font Awesome 5 Free";
  content: '\f3c5';
  margin-right: 8px;
  font-weight: 900;
}

.p-job-single--wrap {
  width: 98%;
  margin: 80px auto 0;
  padding-bottom: 60px;
}

.p-job-single--date {
  color: #f3716d;
  font-size: 1.4rem;
  margin-bottom: -16px;
}

.p-job-single--conts {
  background: #fff;
  padding: 20px 5% 10px;
  width: 90%;
  box-shadow: 2px 2px 6px #d1d3d4;
}

.p-job-single--ttl {
  font-size: 2.6rem;
  color: #f3716d;
}

.p-job-single--table {
  margin: 40px 0;
}

.p-job-single--table tr {
  border-bottom: 1px solid #3b3d40;
}

.p-job-single--table tr th,
.p-job-single--table tr td {
  padding: 12px 16px;
}

.p-job-single--table tr th {
  font-weight: bold;
}

.p-job-single--desc,
.p-job-single--requirements,
.p-job-single--language {
  margin-bottom: 30px;
}

.p-job-single--contact--ttl {
  color: #f3716d;
}

@media all and (max-width: 767px) {
  .p-job-sidebar--cat {
    margin-top: 30px;
  }
  .p-job-single--conts {
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) {
  .p-job {
    background: #fff7f2;
  }
  .p-job-catch {
    background-image: url("../images/job_catch.jpg");
  }
  .p-job-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
  }
  .p-job-conts {
    width: 67%;
    margin-right: 3%;
  }
  .p-job-sidebar__sp {
    display: block;
  }
  .p-job-sidebar {
    width: 30%;
  }
  .p-job-sidebar--list li {
    padding: 8px 0;
  }
  .p-job-sidebar--list li:hover {
    background: #fff;
  }
  .p-job-sidebar--recommend--conts:hover {
    background: #f6f6f6;
  }
  .p-job-single--conts {
    padding: 20px 20px 10px;
    width: 61%;
    margin-right: 3%;
  }
}

@media all and (min-width: 992px) {
  .p-job-wrap {
    width: 960px;
    margin: 0 auto;
  }
  .p-job-conts {
    width: 640px;
    margin-right: 20px;
  }
  .p-job-sidebar {
    width: 300px;
  }
  .p-job-single--wrap {
    width: 960px;
    margin: 80px auto 0;
  }
  .p-job-single--conts {
    width: 600px;
    margin-right: 20px;
  }
}
